
<div>
<div>

    <!-- output && expressions -->
    <div>{{ 420 }}</div>
    <div>{{ 'four-twenty' }}</div>
    <div>{{ myVar }}</div>
    <div>{{ myObject.myProp }}</div>
    <div>{{ ([1,2,3].indexOf(2) === 1) ? 'Found' : 'Not found' }}</div>
    <div>{{ ([1, myVar,3].indexOf(myVar) === 1) ? 'Found' : 'Not found' }}</div>

    <!-- foreach && if/else-if/else -->
    <div v-for="i in [1,2]">
        <h2>Test#{{ i }}</h2>
        <div v-if="myVar === 'Hello'">
            <div v-if="myVar !== 'Hello'">IF1</div>
            <span>---</span>
            <div v-else-if="myVar === 'Hello'">
                <div v-if="myVar !== 'Hello'">IF2</div>
                <span>---</span>
                <div v-else-if="myVar !== 'Hello'">ELSEIF2</div>
                <span>---</span>
                <div v-else>ELSE2</div>
            </div>
        </div>
    </div>
    
    <!-- Components -->
    <mypartial :title="title"></mypartial>
    
</div>
