
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    font-family: Roboto;
}

header{
    text-align: center;
    background-color: #eee;
    font-size:30px;
    padding:25px;
    font-weight: bold;
    margin-bottom:50px;
}

.container{
    margin:0 auto;
    max-width: 1000px;
}

h2{
    display:block;
    border-bottom:1px solid #444;
    padding-bottom: 5px;
    margin-bottom:15px;
}

.list{
    display:flex;
    flex-wrap: wrap;
}

.product{
    flex-grow:1;
    float: left;
    width: 20%;
    margin: 10px;
    background-color:#eee;
    border:1px solid #ddd;
    padding: 15px;
    height:300px;
}
